.hero {
    background-image: url("https://images.unsplash.com/photo-1511536830243-d4cf5a1ebfca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fdc7468f67db7546c5473eddcb7ddcf3&auto=format&fit=crop&w=789&q=80");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0, auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hero__button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    background: transparent;
    color: white;
}

.hero__headline {
    margin: 0;
    display: block;
    color: white;
    font-size: 2rem;
    
}